body {
  margin: 2%;
}

h1 {
  text-align: center;
  font-style: italic;
  font-family: 'Papyrus'
}

.three {
  display: flex;
  justify-content: space-between;
  font-family: 'Lucida Handwriting';
  font-style: italic;
  font-weight: 600;
}

.three > div {
  width: 100px;
  height: 100px;
}
