.results {
  border: solid;
}

.first-row,
.second-row {
  display: flex;
  flex-direction: column;
  margin: 1%;
}

.first-row > div {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 5%;
  width: 400px;
  margin-top: 1%;
  background-color: #ece4db;
  font-family: 'Papyrus';
  font-weight: 600;
}

.second-row > div {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 5%;
  width: 400px;
  background-color: #ece4db;
  font-family: 'Papyrus';
  font-weight: 600;
}

#circle {
    border:1px solid;
    height:150px;
    border-radius:50%;
    width: 150px;
}

span {
    font-size: 40px;
}

@media all and (min-width: 600px) {
  .first-row,
  .second-row {
    flex-direction: row;
  }

  .first-row > div {
      margin-left: 1%;
  }
}
